@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
 
  padding-top: 20px;
}
h1 {
  font-size: 40px;
}
.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}


.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}
li {
  padding: 8px 4px;
}

section {
  padding: 0 32px;
}
img {
  width: 100%;
}

main {
  margin-bottom: 96px;
}
.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer__logo--img {
  height: 40px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.nav__link {
  padding-left: 20px;
}

/*

HEADER

*/
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}
.header__description {
 max-width: 400px;
}
.header__email--container {
  
  padding: 40px 0;
}
.header__customer--para{
  font-size: 12px;
  font-weight: bold;
}
.header__img {
  width: 100%;
  padding: 20px 40px;
}
.header__img--main {
  max-width: 60kv;
}
.header__logo--img {
  padding-top: 20px;
  max-width: calc(90%);
}
.header__customer--para {
  color: rgba(0, 0, 0, 0.321);
}
.header__logo--img{
  opacity: 45%;
}