@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
  padding-top: 20px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 80px;
}

.purple {
  color: #6415ff;
}
ul {
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

main {
  margin-bottom: 96px;
}

/*

Nav

*/
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: center;
  height: 80px;
}

.nav__container {
  height: 80px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer__logo--img {
  height: 40px;
}
.row .nav__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.nav__link {
  padding-left: 20px;
}

/*

HEADER

*/
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  height: calc(100% - 80px);
}

.header__description {
  width: 40%;
  padding: 20px;
}
.header__email--container {
  padding: 40px 0;
}
.header__customer--para {
  font-size: 12px;
  font-weight: bold;
}
.header__img {
  width: 60%;
  padding: 20px 40px;
}
.header__img--main {
  max-width: 60kv;
}
.header__logo--img {
  padding-top: 20px;
  max-width: calc(90%);
}
.header__customer--para {
  color: rgba(0, 0, 0, 0.321);
}
.header__logo--img {
  opacity: 45%;
}
/*

NAVBAR ↓

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__text {
  font-size: 24px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}


/* 

FEATURES ↓

*/


.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
 .service__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
 
}
.para__container {
  max-width: 576px;
  text-align: center;
}
.service__row {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title--para {
  max-width: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.service__icon {
  width: 100%;
}
.service__img--wrapper {
 width: 100px;


}
.service {
  max-width: 200px;
  display: flex;
  margin-bottom: 20px;
  width: calc(100% / 3);  
}


/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
