@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
p {
  line-height: 2;
}

h1 {
  font-size: 50px;
  padding-bottom: 24px;
}
h2 {
  font-size: 36px;
}
.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}
.btn:hover {
  cursor: pointer;
  background-color: #7b73e8;
  color: white;
  cursor: pointer;
}
button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border-radius: 50px;
  background-color: #6415ff;
  color: white;
}

.row {
  width: 100%;
  max-width: 1200px;
}

.row__narrow {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  padding: 80px;
  max-width: 1200px;
}

.purple {
  color: #6415ff;
}
ul {
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}

main {
  margin-bottom: 96px;
}

/*

Nav

*/
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: center;
  height: 80px;
}

.nav__container {
  height: 80px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer__logo--img {
  height: 40px;
}
.row .nav__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.nav__link {
  padding-right: 32px;
  display: flex;
  font-size: 14px;
  font-weight: 700;
}
.nav__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: transform 300ms ease;
}
.nav__link--primary {
  background: #6415ff;
  border-radius: 500px;
  color: #f7fafc;
  text-align: start;
  padding: 8px 16px;
  white-space: nowrap;
}
.nav__text {
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

/*

HEADER

*/
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  height: calc(100% - 80px);
}

.header__description {
  width: 40%;
  padding: 20px;
}
.header__email--container {
  padding: 40px 0;
  display: flex;
}
.header__customer--para {
  font-size: 12px;
  font-weight: bold;
}
.header__img {
  width: 60%;
  padding: 20px 40px;
}
.header__img--main {
  max-width: 60kv;
}
.header__logo--img {
  padding-top: 20px;
  max-width: calc(90%);
}
.header__customer--para {
  color: rgba(0, 0, 0, 0.321);
}
.header__logo--img {
  opacity: 45%;
}
/*

NAVBAR ↓

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__text {
  font-size: 24px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

#landing {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

FEATURES ↓

*/
#service {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__title {
  padding-bottom: 20px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}
.service__container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.para__container {
  max-width: 576px;
  text-align: center;
}
.service__row {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__para--wrapper {
  padding-bottom: 20px;
  padding-left: 60px;
}
.service__para {
  font-size: 12;
}
.service__title--para {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 48px;
}

.service {
  width: calc(100% / 3);
  display: flex;
  margin: 40px 0;
  padding: 20px;
}

.service__icon {
  border: 2px solid rgba(0, 0, 0, 0.158);
  border-radius: 500px;

  padding: 18px;
}

/* 

QUALITY WORK ↓

*/

.quality__container {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.quality__row {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.quality__tag {
  padding-bottom: 20px;
}
.quality__img {
  width: 50%;
}
.quality__column {
  max-width: 450px;
  margin: 0 auto;
}
.quality__para {
  padding-bottom: 20px;
}

/*

STEPS ↓

*/
#steps {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}
.steps__container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  flex: row;
}
#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.steps__column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.steps__para {
  max-width: 280px;
  padding-bottom: 20px;
}
.steps__para--wrapper {
  margin-left: 100px;
}

.steps__item--container {
  display: flex;
}
.steps__img--wrapper {
  width: 20px;
  height: 20px;
  padding-right: 60px;
}

.number {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.144);
}
.number__space {
  display: flex;
}

/* 

VALUES ↓

*/
#values {
  height: calc(100vh);
  max-width: 1200px;
  margin: 0 auto;
}
.values__container {
  height: 100vh;
  }
#values .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}
.values__para {
  padding-bottom: 20px;
}
.values__description {
  display: flex;
}
.values__text--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.values__img--container {
  display: flex;
  align-items: center;
  width: 45%;
  padding-left: 40px;
}
.values__icon--container {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
}
.values__para--14 {
  font-size: 14px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.value__icon--container-1 {
  border-radius: 500px;
  background-color: #b2e8b9;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.value__icon--container-2 {
  border-radius: 500px;
  background-color: #f6b9d6;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.fa-dollar-sign {
  color: #1e8675;
}
.fa-briefcase {
  color: #db677a;
}

/*

PRICING ↓

*/

#pricing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__wrapper {
  max-width: 1200px;
  text-align: center;
  padding-bottom: 40px;
}
.pricing__para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  color: rgba(0, 0, 0, 0.39);
}
.plans {
  display: flex;
  gap: 20px;
  width: 1200px;
  padding-top: 32px;
}

.plan {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  line-height: 2;
}
.section__title {
  font-size: 48px;
}

.plan__highlighted1.plan__highlighted3 {
  background-color: #ffffff;
}

.plan__highlighted2 {
  background-color: rgb(102, 126, 234);
}

.plan__stripe {
  height: 10px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
.stripe1 {
  background-color: #64c0b1;
}

.button2 {
  background-color: white;
  font-weight: 700;
}
.stripe3 {
  background-color: #d87a8a;
}
.button3 {
  background-color: #d87a8a;
}
.plan__header {
  border-color: rgba(0, 0, 0, 0.151);
  border-width: 2px;
  border-style: solid;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  line-height: 1.5;
}

.plan__month {
  padding-bottom: 12px;
  color: rgba(0, 0, 0, 0.39);
}
.plan__title {
  padding: 24px;
}
h1,
.plan__price {
  font-size: 36px;
  padding-bottom: 12px;
}

.plan__features {
  list-style: none;
  padding: 16px;
  border-color: rgba(0, 0, 0, 0.151);
  border-width: 2px;
  border-style: solid;
  border-top-width: 0;
}
.plan__feature {
  padding: 8px 0;
  color: rgba(0, 0, 0, 0.39);
}
.white {
  color: white;
}

.plan__button {
  color: white;
  font-size: 18px;
  border: none;
  padding: 30px 80px;
  border-radius: 224px;
  cursor: pointer;
  height: 32px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan__button:active {
  transform: translateY(1px);
  transform: translateX(1px);
}
.button__plan--wrapper {
  height: 120px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.151);
  border-width: 2px;
  border-style: solid;
  border-top-width: 0;
  border-radius: 12px;
  padding: 16px;
}

/* 

TESTIMONIALS ↓

*/

#testimonials {
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.testimonials__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
}
.testimonials__row {
  width: 600px;
}

.testimonials__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  padding: 0 40px;
}
.testimonial__img--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img__wrapper {
  width: 80px;
  height: 80px;
  border-radius: 500px;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__para {
  color: rgba(0, 0, 0, 0.418);
  padding-bottom: 20px;
}
.testimonials__rating {
  padding-bottom: 20px;
  color: gold;
}
.testimonials__para2 {
  padding: 20px 0;
}
.testimonial__img-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.arrows__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.arrow__wrapper:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}
.arrow__container {
  border-style: none;
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 50%;
  padding: 12px;
}
.arrow__container:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
  background-color: rgba(0, 0, 0, 0.192);
  cursor: pointer;
}

.service__icon {
  border: 2px solid rgba(0, 0, 0, 0.158);
  border-radius: 500px;
  width: 200%;
  padding: 12px;
}

/* 

START / CALL TO ACTION ↓

*/
#start {
  display: flex;
  align-items: center;
  height: 680px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.start__container {
  width: 100%;
}
#start .row {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #211ee0;
  width: 100%;
  height: 260px;
  border-radius: 6px;
}
.start__description {
  font-size: 32px;
  font-weight: 600;
  color: white;
  line-height: 1.5;
  padding-left: 72px;
}
.btn__container {
  display: flex;
  width: 40%;
}
.btn__start1,
.btn__start2 {
  background-color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin: 40px;
  border-radius: 500px;
  font-weight: 600;
  color: #080116;
  border: none;
}
.btn__start1 {
  background-color: #d87a8a;
  border: 2px solid #f7fafc;
  color: white;
}
.btn__start1:hover {
  background-color: #db8a97;
  color: white;
  cursor: pointer;
}
.btn__start2 {
  background-color: #6415ff;
  border: 2px solid #f7fafc;
  color: white;
  margin-left: 20px;
}

.btn__start2:hover {
  background-color: #7b73e8;
  color: white;
  cursor: pointer;
}
/* 

FOOTER ↓

*/

#footer {
  padding: 96px 32px;
  background-color: #211ee0;
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  line-height: 2;
}
.footer__text {
  color: #f7fafc;
  padding-bottom: 20px;
}
.footer__link {
  color: #f7fafc;
  padding: 8px 0;
  text-decoration: none;
  font-size: 14px;
}
.footer__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: transform 300ms ease;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 40px;
}
.footer__img--wrapper {
  display: flex;
  align-items: center;
}
.footer__img {
  width: 40px;
}
.footer__line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.151);
  margin: 20px auto;
}
.fa-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  color: #4e4ce4;
}
.fa-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  color: #4e4ce4;
}
.fa-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafc;
  color: #4e4ce4;
}
.logo__wrapper {
  display: flex;
  align-items: center;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  color: #f7fafc;
  font-size: 24px;
  font-weight: 700;
}
.footer__icon--wrapper {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.footer__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  background-color: #f7fafc;
  width: 30px;
  height: 30px;
}
.copyright {
  color: #f7fafc;
  font-size: 14px;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
